.card{
    margin: 25px auto;
    width: 300px;
    height: 420px;
    padding: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.card:hover{
    box-shadow: 0px 0px 60px lightgray;
}

.card .card-img-top{
    height: 250px;
    padding: 20px 10px;
    margin-right: 75px;
}